In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=705cc86f897329cb6842bedf773037c3f41cb5efc27e52268222e5412ffe6461
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [4]:
import pandas as pd
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Learn-Pyspark').getOrCreate()

In [7]:
spark

In [10]:
df_pyspark = spark.read.csv('spotify_songs.csv')

In [27]:
df_pyspark = spark.read.option('header', 'true').csv('spotify_songs.csv', inferSchema = True)

In [28]:
df_pyspark.show(3)

+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|            track_id|          track_name|track_artist|track_popularity|      track_album_id|    track_album_name|track_album_release_date|playlist_name|         playlist_id|playlist_genre|playlist_subgenre|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|6f807x0ima9a1j3VP...|I Don't Care (wit...|  Ed Sheeran|              66|2oCs0DGTsRO98Gh5Z...|I Don't Care (wit...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.748| 0.916|  6|  -2.634|   1|     0.0583|       0.102|             0.0|  0.0653|  0.518|122.036|   194754.0|
|0r7CVbZTWZgbTCYdf...|Memories - Dillon...|    Maroon 5|              67|63rPSO264uRjW1X5E...|Memories (Dillon ...|              2019-12-13|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.726| 0.815| 11|  -4.969|   1|     0.0373|      0.0724|         0.00421|   0.357|  0.693| 99.972|   162600.0|
|1z1Hg7Vb0AhHDiEmn...|All the Time - Do...|Zara Larsson|              70|1HoSmj2eLcsrR0vE9...|All the Time (Don...|              2019-07-05|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.675| 0.931|  1|  -3.432|   0|     0.0742|      0.0794|         2.33E-5|    0.11|  0.613|124.008|   176616.0|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
only showing top 3 rows

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.printSchema()

root
 |-- track_id: string (nullable = true)
 |-- track_name: string (nullable = true)
 |-- track_artist: string (nullable = true)
 |-- track_popularity: integer (nullable = true)
 |-- track_album_id: string (nullable = true)
 |-- track_album_name: string (nullable = true)
 |-- track_album_release_date: string (nullable = true)
 |-- playlist_name: string (nullable = true)
 |-- playlist_id: string (nullable = true)
 |-- playlist_genre: string (nullable = true)
 |-- playlist_subgenre: string (nullable = true)
 |-- danceability: string (nullable = true)
 |-- energy: string (nullable = true)
 |-- key: string (nullable = true)
 |-- loudness: string (nullable = true)
 |-- mode: string (nullable = true)
 |-- speechiness: double (nullable = true)
 |-- acousticness: double (nullable = true)
 |-- instrumentalness: double (nullable = true)
 |-- liveness: double (nullable = true)
 |-- valence: double (nullable = true)
 |-- tempo: double (nullable = true)
 |-- duration_ms: double (nullable = true)

In [34]:
df_pyspark.select(['track_artist', 'energy']).show(2)

+------------+------+
|track_artist|energy|
+------------+------+
|  Ed Sheeran| 0.916|
|    Maroon 5| 0.815|
+------------+------+
only showing top 2 rows

In [35]:
df_pyspark.columns

['track_id',
 'track_name',
 'track_artist',
 'track_popularity',
 'track_album_id',
 'track_album_name',
 'track_album_release_date',
 'playlist_name',
 'playlist_id',
 'playlist_genre',
 'playlist_subgenre',
 'danceability',
 'energy',
 'key',
 'loudness',
 'mode',
 'speechiness',
 'acousticness',
 'instrumentalness',
 'liveness',
 'valence',
 'tempo',
 'duration_ms']

In [37]:
df_pyspark.dtypes

[('track_id', 'string'),
 ('track_name', 'string'),
 ('track_artist', 'string'),
 ('track_popularity', 'int'),
 ('track_album_id', 'string'),
 ('track_album_name', 'string'),
 ('track_album_release_date', 'string'),
 ('playlist_name', 'string'),
 ('playlist_id', 'string'),
 ('playlist_genre', 'string'),
 ('playlist_subgenre', 'string'),
 ('danceability', 'string'),
 ('energy', 'string'),
 ('key', 'string'),
 ('loudness', 'string'),
 ('mode', 'string'),
 ('speechiness', 'double'),
 ('acousticness', 'double'),
 ('instrumentalness', 'double'),
 ('liveness', 'double'),
 ('valence', 'double'),
 ('tempo', 'double'),
 ('duration_ms', 'double')]

In [41]:
df_pyspark.describe().show()

+-------+--------------------+--------------------+------------------+------------------+--------------------+------------------------+------------------------+--------------------+---------------+--------------------+------------------+-------------------+--------------------+-----------------+------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+
|summary|            track_id|          track_name|      track_artist|  track_popularity|      track_album_id|        track_album_name|track_album_release_date|       playlist_name|    playlist_id|      playlist_genre| playlist_subgenre|       danceability|              energy|              key|          loudness|                mode|        speechiness|       acousticness|   instrumentalness|           liveness|           valence|             tempo|       duration_ms|
+-------+--------------------+--------------------+------------------+------------------+--------------------+------------------------+------------------------+--------------------+---------------+--------------------+------------------+-------------------+--------------------+-----------------+------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+
|  count|               32833|               32833|             32833|             32833|               32833|                   32833|                   32833|               32833|          32833|               32833|             32833|              32833|               32833|            32833|             32833|               32833|              32833|              32833|              32833|              32833|             32833|             32833|             32833|
|   mean|                NULL|            Infinity|            1182.5|42.477080985593766|                NULL|                Infinity|      1994.0409703504042|                NULL|           NULL|                NULL|              NULL| 0.6548413911824773|  0.6987159026254852|5.373788742690058|-6.714960343567283|  0.5617789047270955|0.10728242012609311|0.17532551997076137|0.08503226869460623|0.18983626717022573|0.5104382800840634|120.82878928517026|225681.46748989128|
| stddev|                NULL|                 NaN|1994.7120166609927|24.984074486186916|                NULL|                     NaN|      12.936924530888342|                NULL|           NULL|                NULL|              NULL|0.14508082931503163| 0.18083972636320184|3.612248908638986|2.9918276920539455|   0.539370414665492|0.10228729983665304|0.21964117970063668|  0.228459929884962|0.16638032885544798|0.2332299215566853|26.993193516792292|59936.563622578535|
|    min|0017A6SJgTbfQVU2E...|"""I TRIED FOR YE...|               !!!|                 0|000YOrgQoB5IiiH95...|                       !|             My Love!"""| Niedermeier & Wh...|         Si-Tew| Matthias Heilbro...|       John Gazoo"|                  0|             0.00814|                0|            -0.046|             -10.425|                0.0|                0.0|                0.0|            -11.062|               0.0|               0.0|            0.0116|
|    max|7zzZmpw8L66ZPjH1M...| ÌïòÎìúÏ∫êÎ¶¨ Hard Carry|          È¶ôÂèñÊÖéÂêæ|               100|7zygyMUltFYOvHoT3...|ÌôîÏñëÏó∞Ìôî The Most Bea...|              2020-01-29|ü§©ü§™Post Teen Pop...|indie poptimism|                rock|urban contemporary| urban contemporary|House/Electro/Pro...|                9|               edm|progressive elect...|                1.0|              0.994|                8.0|              0.996|               1.0|            239.44|          517810.0|
+-------+--------------------+--------------------+------------------+------------------+--------------------+------------------------+------------------------+--------------------+---------------+--------------------+------------------+-------------------+--------------------+-----------------+------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+------------------+------------------+

### A√±adiendo columnas al dataframe

In [47]:
df_pyspark = df_pyspark.withColumn("M√°s 5 de popularidad", df_pyspark['track_popularity'] + 5)

In [49]:
df_pyspark.show(2)

+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------------+
|            track_id|          track_name|track_artist|track_popularity|      track_album_id|    track_album_name|track_album_release_date|playlist_name|         playlist_id|playlist_genre|playlist_subgenre|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|M√°s 5 de popularidad|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------------+
|6f807x0ima9a1j3VP...|I Don't Care (wit...|  Ed Sheeran|              66|2oCs0DGTsRO98Gh5Z...|I Don't Care (wit...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.748| 0.916|  6|  -2.634|   1|     0.0583|       0.102|             0.0|  0.0653|  0.518|122.036|   194754.0|                  71|
|0r7CVbZTWZgbTCYdf...|Memories - Dillon...|    Maroon 5|              67|63rPSO264uRjW1X5E...|Memories (Dillon ...|              2019-12-13|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.726| 0.815| 11|  -4.969|   1|     0.0373|      0.0724|         0.00421|   0.357|  0.693| 99.972|   162600.0|                  72|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------------+
only showing top 2 rows

### Eliminando Columnas

In [52]:
df_pyspark = df_pyspark.drop('M√°s 5 de popularidad')

### Renombrar columnas

In [53]:
df_pyspark.withColumnRenamed('track_id', 'id_track')

DataFrame[id_track: string, track_name: string, track_artist: string, track_popularity: int, track_album_id: string, track_album_name: string, track_album_release_date: string, playlist_name: string, playlist_id: string, playlist_genre: string, playlist_subgenre: string, danceability: string, energy: string, key: string, loudness: string, mode: string, speechiness: double, acousticness: double, instrumentalness: double, liveness: double, valence: double, tempo: double, duration_ms: double]

### Eliminar filas con valores nulos

In [54]:
df_pyspark.na.drop().show()

+--------------------+--------------------+----------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|            track_id|          track_name|    track_artist|track_popularity|      track_album_id|    track_album_name|track_album_release_date|playlist_name|         playlist_id|playlist_genre|playlist_subgenre|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|
+--------------------+--------------------+----------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|6f807x0ima9a1j3VP...|I Don't Care (wit...|      Ed Sheeran|              66|2oCs0DGTsRO98Gh5Z...|I Don't Care (wit...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.748| 0.916|  6|  -2.634|   1|     0.0583|       0.102|             0.0|  0.0653|  0.518|122.036|   194754.0|
|0r7CVbZTWZgbTCYdf...|Memories - Dillon...|        Maroon 5|              67|63rPSO264uRjW1X5E...|Memories (Dillon ...|              2019-12-13|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.726| 0.815| 11|  -4.969|   1|     0.0373|      0.0724|         0.00421|   0.357|  0.693| 99.972|   162600.0|
|1z1Hg7Vb0AhHDiEmn...|All the Time - Do...|    Zara Larsson|              70|1HoSmj2eLcsrR0vE9...|All the Time (Don...|              2019-07-05|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.675| 0.931|  1|  -3.432|   0|     0.0742|      0.0794|         2.33E-5|    0.11|  0.613|124.008|   176616.0|
|75FpbthrwQmzHlBJL...|Call You Mine - K...|The Chainsmokers|              60|1nqYsOef1yKKuGOVc...|Call You Mine - T...|              2019-07-19|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.718|  0.93|  7|  -3.778|   1|      0.102|      0.0287|         9.43E-6|   0.204|  0.277|121.956|   169093.0|
|1e8PAfcKUYoKkxPhr...|Someone You Loved...|   Lewis Capaldi|              69|7m7vv9wlQ4i0LFuJi...|Someone You Loved...|              2019-03-05|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|        0.65| 0.833|  1|  -4.672|   1|     0.0359|      0.0803|             0.0|  0.0833|  0.725|123.976|   189052.0|
|7fvUMiyapMsRRxr07...|Beautiful People ...|      Ed Sheeran|              67|2yiy9cd2QktrNvWC2...|Beautiful People ...|              2019-07-11|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.675| 0.919|  8|  -5.385|   1|      0.127|      0.0799|             0.0|   0.143|  0.585|124.982|   163049.0|
|2OAylPUDDfwRGfe0l...|Never Really Over...|      Katy Perry|              62|7INHYSeusaFlyrHSN...|Never Really Over...|              2019-07-26|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.449| 0.856|  5|  -4.788|   0|     0.0623|       0.187|             0.0|   0.176|  0.152|112.648|   187675.0|
|6b1RNvAcJjQH73eZO...|Post Malone (feat...|       Sam Feldt|              69|6703SRPsLkS4bPtMF...|Post Malone (feat...|              2019-08-29|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.542| 0.903|  4|  -2.419|   0|     0.0434|      0.0335|         4.83E-6|   0.111|  0.367|127.936|   207619.0|
|7bF6tCO3gFb8INrED...|Tough Love - Ti√´s...|          Avicii|              68|7CvAfGvq4RlIwEbT9...|Tough Love (Ti√´st...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.594| 0.935|  8|  -3.562|   1|     0.0565|      0.0249|         3.97E-6|   0.637|  0.366|127.015|   193187.0|
|1IXGILkPm0tOCNeq0...|If I Can't Have Y...|    Shawn Mendes|              67|4QxzbfSsVryEQwvPF...|If I Can't Have Y...|              2019-06-20|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.642| 0.818|  2|  -4.552|   1|      0.032|      0.0567|             0.0|  0.0919|   0.59|124.957|   253040.0|
|3eFJI470ALf1EYjyw...|Cross Me (feat. C...|      Ed Sheeran|              58|49bXZtlI5kQSqQMSC...|Cross Me (feat. C...|              2019-06-21|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.679| 0.923|  6|    -6.5|   1|      0.181|       0.146|         4.92E-6|   0.124|  0.752|121.984|   207894.0|
|3iJeF2izF1QcpCgUc...|Hate Me - R3HAB R...|  Ellie Goulding|              67|6e6RVFWdZaoTiLAZO...|Hate Me (R3HAB Re...|              2019-08-16|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.437| 0.774|  8|  -4.918|   1|     0.0554|       0.148|             0.0|   0.133|  0.329|123.125|   203733.0|
|6e0CvGZf7CouOpYF8...|          Body On My|     Loud Luxury|              67|2R66I0nzp3NnuUlzI...|          Body On My|              2019-03-29|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.744| 0.726|  1|  -4.675|   1|     0.0463|      0.0399|             0.0|   0.374|  0.687|121.985|   192507.0|
|3eLdNmnRWr9gIyBcq...|SOS - Laidback Lu...|          Avicii|              68|7Al4TIo0c5twNLfdO...|SOS (Laidback Luk...|              2019-05-17|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.572| 0.915|  5|  -4.451|   0|     0.0625|      0.0111|             0.0|   0.339|  0.678|123.919|   164516.0|
|55nMnifaQWKe3f9cb...|Summer Days (feat...|   Martin Garrix|              63|2vx3BtBMn8Ed3ygEg...|Summer Days (feat...|              2019-07-12|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|        0.69|  0.78|  5|  -4.446|   0|     0.0594|     0.00733|         0.00183|  0.0729|  0.238| 126.07|   255238.0|
|1EJgymgJHcjSOGSHc...|South of the Bord...|      Ed Sheeran|              66|1imXAvLuowvPYIsFM...|South of the Bord...|              2019-12-11|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.805| 0.835|  0|  -4.603|   1|     0.0896|        0.13|         5.03E-6|   0.365|  0.722|125.028|   188230.0|
|5WaXMQMlQpq8pwIda...|All My Friends - ...|     AJ Mitchell|              60|4lXBBbiEgwTzcfAkq...|All My Friends (E...|              2019-05-03|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.694| 0.901|  1|  -4.322|   0|     0.0948|      0.0702|             0.0|   0.427|  0.368|118.051|   173548.0|
|3TjLsDgL0bTbSQIF6...|Say My Name (feat...|    David Guetta|              65|19z3vpbBT09lZ54ne...|Say My Name (feat...|              2018-12-28|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.678| 0.747| 10|  -5.289|   0|      0.165|      0.0395|             0.0|   0.174|  0.516|120.002|   189375.0|
|0GfS3y8Jd7SHWd9R5...|Dancing With A St...|       Sam Smith|              69|2LDzwN4iZ4qbSA32E...|Dancing With A St...|              2019-03-08|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.746| 0.557|  1|  -6.722|   1|     0.0542|       0.103|          0.0036|   0.138|  0.324|111.961|   159404.0|
|2v3DuCVBbopteJqdM...|Let It Be Me - So...|      Steve Aoki|              35|097kyycr5ZuLS2cPw...|Let It Be Me (Rem...|              2019-10-18|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.467| 0.821|  7|  -5.466|   1|     0.0934|     0.00791|         4.41E-4|   0.131|  0.232|122.676|   185366.0|
+--------------------+--------------------+----------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
only showing top 20 rows

### how
df_pyspark.na.drop(how="any") -> elimina la fila si al menos tiene un valor nulo

df_pyspark.na.drop(how="all") -> elimina la fila solo si todos los valores de la fila son nulos

### thresh
df_pyspark.na.drop(how="any", thresh=2) -> eliminara la filas que no tengan como minimo dos valores no nulos

### subset
eliminar columnas aplicando las reglas solo para ciertas columnas

df_pyspark.na.drop(how="any", subset=['track_name'])

## Completando valores faltantes

In [58]:
# Se completaran todos los campos vacios con el mensaje Valor perdido
df_pyspark.na.fill("Valor perdido").show(2)

+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|            track_id|          track_name|track_artist|track_popularity|      track_album_id|    track_album_name|track_album_release_date|playlist_name|         playlist_id|playlist_genre|playlist_subgenre|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|6f807x0ima9a1j3VP...|I Don't Care (wit...|  Ed Sheeran|              66|2oCs0DGTsRO98Gh5Z...|I Don't Care (wit...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.748| 0.916|  6|  -2.634|   1|     0.0583|       0.102|             0.0|  0.0653|  0.518|122.036|   194754.0|
|0r7CVbZTWZgbTCYdf...|Memories - Dillon...|    Maroon 5|              67|63rPSO264uRjW1X5E...|Memories (Dillon ...|              2019-12-13|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.726| 0.815| 11|  -4.969|   1|     0.0373|      0.0724|         0.00421|   0.357|  0.693| 99.972|   162600.0|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
only showing top 2 rows

In [62]:
# Completando los valores perdidos para una especifica columna
df_pyspark.na.fill("valor perdido en columna", ["track_name", "track_artist"]).show(2)

+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|            track_id|          track_name|track_artist|track_popularity|      track_album_id|    track_album_name|track_album_release_date|playlist_name|         playlist_id|playlist_genre|playlist_subgenre|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
|6f807x0ima9a1j3VP...|I Don't Care (wit...|  Ed Sheeran|              66|2oCs0DGTsRO98Gh5Z...|I Don't Care (wit...|              2019-06-14|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.748| 0.916|  6|  -2.634|   1|     0.0583|       0.102|             0.0|  0.0653|  0.518|122.036|   194754.0|
|0r7CVbZTWZgbTCYdf...|Memories - Dillon...|    Maroon 5|              67|63rPSO264uRjW1X5E...|Memories (Dillon ...|              2019-12-13|    Pop Remix|37i9dQZF1DXcZDD7c...|           pop|        dance pop|       0.726| 0.815| 11|  -4.969|   1|     0.0373|      0.0724|         0.00421|   0.357|  0.693| 99.972|   162600.0|
+--------------------+--------------------+------------+----------------+--------------------+--------------------+------------------------+-------------+--------------------+--------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+-------+-----------+
only showing top 2 rows

## Imputaci√≥n en Pyspark

In [74]:
# creamos un nuevo dataframe de prueba
data = [("Alice", 100.0, "Data science"), ("Bob", 200.0, "Data engineer"), ("Charlie", 300.0, "Python developer")]
columns = ["name", "salary", "occupation"]
df_test = spark.createDataFrame(data, columns)

In [75]:
df_test.show()

+-------+------+----------------+
|   name|salary|      occupation|
+-------+------+----------------+
|  Alice| 100.0|    Data science|
|    Bob| 200.0|   Data engineer|
|Charlie| 300.0|Python developer|
+-------+------+----------------+

In [80]:
df_test.printSchema()

root
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- occupation: string (nullable = true)

In [81]:
schema_df_test = df_test.schema

In [84]:
schema_df_test

StructType([StructField('name', StringType(), True), StructField('salary', DoubleType(), True), StructField('occupation', StringType(), True)])

In [77]:
from pyspark.sql import Row

In [86]:
# agregamos nuevas filas al dataframe
new_rows_data = [
    Row(name="David", salary=None, occupation=""),
    Row(name="Eva", salary=150.0, occupation=None),
    Row(name="Frank", salary=250.0, occupation="Java developer"),
    Row(name=None, salary=350.0, occupation=""),
    Row(name="Grace", salary=180.0, occupation="Data analyst"),
    Row(name="Hank", salary=None, occupation=""),
    Row(name="Isabel", salary=280.0, occupation="Machine learning engineer"),
    Row(name=None, salary=None, occupation=None),
]

In [87]:
new_df = spark.createDataFrame(new_rows_data, schema=schema_df_test)

In [91]:
new_df.show()

+------+------+--------------------+
|  name|salary|          occupation|
+------+------+--------------------+
| David|  NULL|                    |
|   Eva| 150.0|                NULL|
| Frank| 250.0|      Java developer|
|  NULL| 350.0|                    |
| Grace| 180.0|        Data analyst|
|  Hank|  NULL|                    |
|Isabel| 280.0|Machine learning ...|
|  NULL|  NULL|                NULL|
+------+------+--------------------+

In [92]:
# uniendo lod df
df_test = df_test.union(new_df)

In [93]:
df_test.show()

+-------+------+--------------------+
|   name|salary|          occupation|
+-------+------+--------------------+
|  Alice| 100.0|        Data science|
|    Bob| 200.0|       Data engineer|
|Charlie| 300.0|    Python developer|
|  David|  NULL|                    |
|    Eva| 150.0|                NULL|
|  Frank| 250.0|      Java developer|
|   NULL| 350.0|                    |
|  Grace| 180.0|        Data analyst|
|   Hank|  NULL|                    |
| Isabel| 280.0|Machine learning ...|
|   NULL|  NULL|                NULL|
+-------+------+--------------------+

In [98]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['salary'],
    outputCols = ["{}_imputed".format(c) for c in ['salary']]
  ).setStrategy("median") #mean o median

In [99]:
# agregar el imput al df
imputer.fit(df_test).transform(df_test).show()

+-------+------+--------------------+--------------+
|   name|salary|          occupation|salary_imputed|
+-------+------+--------------------+--------------+
|  Alice| 100.0|        Data science|         100.0|
|    Bob| 200.0|       Data engineer|         200.0|
|Charlie| 300.0|    Python developer|         300.0|
|  David|  NULL|                    |         200.0|
|    Eva| 150.0|                NULL|         150.0|
|  Frank| 250.0|      Java developer|         250.0|
|   NULL| 350.0|                    |         350.0|
|  Grace| 180.0|        Data analyst|         180.0|
|   Hank|  NULL|                    |         200.0|
| Isabel| 280.0|Machine learning ...|         280.0|
|   NULL|  NULL|                NULL|         200.0|
+-------+------+--------------------+--------------+

# Operaciones de filtro

In [101]:
df = df_test
df.show()

+-------+------+--------------------+
|   name|salary|          occupation|
+-------+------+--------------------+
|  Alice| 100.0|        Data science|
|    Bob| 200.0|       Data engineer|
|Charlie| 300.0|    Python developer|
|  David|  NULL|                    |
|    Eva| 150.0|                NULL|
|  Frank| 250.0|      Java developer|
|   NULL| 350.0|                    |
|  Grace| 180.0|        Data analyst|
|   Hank|  NULL|                    |
| Isabel| 280.0|Machine learning ...|
|   NULL|  NULL|                NULL|
+-------+------+--------------------+

In [108]:
# salario mayor a 180
df.filter("salary > 180").show()

+-------+------+--------------------+
|   name|salary|          occupation|
+-------+------+--------------------+
|    Bob| 200.0|       Data engineer|
|Charlie| 300.0|    Python developer|
|  Frank| 250.0|      Java developer|
|   NULL| 350.0|                    |
| Isabel| 280.0|Machine learning ...|
+-------+------+--------------------+

In [110]:
# filtrando seleccionando columnas
df.filter("salary > 180").select(['name', "occupation"]).show()

+-------+--------------------+
|   name|          occupation|
+-------+--------------------+
|    Bob|       Data engineer|
|Charlie|    Python developer|
|  Frank|      Java developer|
|   NULL|                    |
| Isabel|Machine learning ...|
+-------+--------------------+

In [111]:
df.filter(df['salary'] > 180).select(['name', "occupation"]).show()

+-------+--------------------+
|   name|          occupation|
+-------+--------------------+
|    Bob|       Data engineer|
|Charlie|    Python developer|
|  Frank|      Java developer|
|   NULL|                    |
| Isabel|Machine learning ...|
+-------+--------------------+

In [114]:
df.filter((df['salary'] > 180) & (df['salary'] < 350)).select(['name', "occupation"]).show()

+-------+--------------------+
|   name|          occupation|
+-------+--------------------+
|    Bob|       Data engineer|
|Charlie|    Python developer|
|  Frank|      Java developer|
| Isabel|Machine learning ...|
+-------+--------------------+

# Funciones de agregaci√≥n y group by

In [115]:
from pyspark.sql.types import StringType, IntegerType, StructType, StructField

In [116]:
schema_new = StructType([
    StructField("name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("salary", IntegerType(), True)
])

data_new = [
    Row(name="Alice", department="HR", salary=100),
    Row(name="Bob", department="Engineering", salary=200),
    Row(name="Charlie", department="IT", salary=300),
    Row(name="David", department="Finance", salary=150),
    Row(name="Eva", department="HR", salary=250),
    Row(name="Frank", department="Marketing", salary=180),
    Row(name="Grace", department="Engineering", salary=220),
    Row(name="Hank", department="IT", salary=280),
    Row(name="Isabel", department="Finance", salary=200),
    Row(name="Jack", department="HR", salary=120),
]
df_new = spark.createDataFrame(data_new, schema=schema_new)

In [117]:
df_new.show()

+-------+-----------+------+
|   name| department|salary|
+-------+-----------+------+
|  Alice|         HR|   100|
|    Bob|Engineering|   200|
|Charlie|         IT|   300|
|  David|    Finance|   150|
|    Eva|         HR|   250|
|  Frank|  Marketing|   180|
|  Grace|Engineering|   220|
|   Hank|         IT|   280|
| Isabel|    Finance|   200|
|   Jack|         HR|   120|
+-------+-----------+------+

In [121]:
# suma de salarios por departamento
df_new.groupBy('department').sum().show()

+-----------+-----------+
| department|sum(salary)|
+-----------+-----------+
|Engineering|        420|
|         HR|        470|
|    Finance|        350|
|         IT|        580|
|  Marketing|        180|
+-----------+-----------+

In [122]:
# n√∫mero de trabajadores por departamento
df_new.groupBy('department').count().show()

+-----------+-----+
| department|count|
+-----------+-----+
|Engineering|    2|
|         HR|    3|
|    Finance|    2|
|         IT|    2|
|  Marketing|    1|
+-----------+-----+

In [124]:
from pyspark.sql.functions import sum, avg, max
df_new.agg(sum('salary').alias("Total de salarios"), avg('salary').alias("Salario promedio"), max('salary').alias("Salario mayor")).show()

+-----------------+----------------+-------------+
|Total de salarios|Salario promedio|Salario mayor|
+-----------------+----------------+-------------+
|             2000|           200.0|          300|
+-----------------+----------------+-------------+

# PySpark ML

In [126]:
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("experience", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

data = [
    ("Alice", 25, 2, 50000),
    ("Bob", 30, 5, 70000),
    ("Charlie", 35, 8, 90000),
    ("David", 28, 3, 60000),
    ("Eva", 32, 6, 75000),
    ("Frank", 40, 10, 100000),
    ("Grace", 22, 1, 48000),
    ("Hank", 33, 7, 85000),
    ("Isabel", 27, 4, 62000),
    ("Jack", 38, 9, 95000),
    ("Karen", 29, 3, 58000),
    ("Leo", 31, 6, 72000),
    ("Mia", 26, 2, 52000),
    ("Nathan", 36, 8, 88000),
    ("Olivia", 24, 1, 45000),
    ("Peter", 34, 7, 82000),
    ("Quinn", 23, 2, 53000),
    ("Rachel", 39, 10, 98000),
    ("Steve", 37, 9, 92000),
    ("Tina", 30, 4, 67000)
]

df_ml = spark.createDataFrame(data, schema=schema)

In [127]:
df_ml.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Alice| 25|         2| 50000|
|    Bob| 30|         5| 70000|
|Charlie| 35|         8| 90000|
|  David| 28|         3| 60000|
|    Eva| 32|         6| 75000|
|  Frank| 40|        10|100000|
|  Grace| 22|         1| 48000|
|   Hank| 33|         7| 85000|
| Isabel| 27|         4| 62000|
|   Jack| 38|         9| 95000|
|  Karen| 29|         3| 58000|
|    Leo| 31|         6| 72000|
|    Mia| 26|         2| 52000|
| Nathan| 36|         8| 88000|
| Olivia| 24|         1| 45000|
|  Peter| 34|         7| 82000|
|  Quinn| 23|         2| 53000|
| Rachel| 39|        10| 98000|
|  Steve| 37|         9| 92000|
|   Tina| 30|         4| 67000|
+-------+---+----------+------+

In [128]:
from pyspark.ml.feature import VectorAssembler

In [131]:
# las columnas de entrada solo pueden ser de tipo numerico
# se definen primero las variables independientes / new feature
featureAssembler = VectorAssembler(inputCols=["age", "experience"], outputCol="independent features")

In [132]:
output = featureAssembler.transform(df_ml)

In [133]:
output.show()

+-------+---+----------+------+--------------------+
|   name|age|experience|salary|independent features|
+-------+---+----------+------+--------------------+
|  Alice| 25|         2| 50000|          [25.0,2.0]|
|    Bob| 30|         5| 70000|          [30.0,5.0]|
|Charlie| 35|         8| 90000|          [35.0,8.0]|
|  David| 28|         3| 60000|          [28.0,3.0]|
|    Eva| 32|         6| 75000|          [32.0,6.0]|
|  Frank| 40|        10|100000|         [40.0,10.0]|
|  Grace| 22|         1| 48000|          [22.0,1.0]|
|   Hank| 33|         7| 85000|          [33.0,7.0]|
| Isabel| 27|         4| 62000|          [27.0,4.0]|
|   Jack| 38|         9| 95000|          [38.0,9.0]|
|  Karen| 29|         3| 58000|          [29.0,3.0]|
|    Leo| 31|         6| 72000|          [31.0,6.0]|
|    Mia| 26|         2| 52000|          [26.0,2.0]|
| Nathan| 36|         8| 88000|          [36.0,8.0]|
| Olivia| 24|         1| 45000|          [24.0,1.0]|
|  Peter| 34|         7| 82000|          [34.0,7.0]|
|  Quinn| 23|         2| 53000|          [23.0,2.0]|
| Rachel| 39|        10| 98000|         [39.0,10.0]|
|  Steve| 37|         9| 92000|          [37.0,9.0]|
|   Tina| 30|         4| 67000|          [30.0,4.0]|
+-------+---+----------+------+--------------------+

In [135]:
finalized_data = output.select(['independent features', 'salary'])
finalized_data.show()

+--------------------+------+
|independent features|salary|
+--------------------+------+
|          [25.0,2.0]| 50000|
|          [30.0,5.0]| 70000|
|          [35.0,8.0]| 90000|
|          [28.0,3.0]| 60000|
|          [32.0,6.0]| 75000|
|         [40.0,10.0]|100000|
|          [22.0,1.0]| 48000|
|          [33.0,7.0]| 85000|
|          [27.0,4.0]| 62000|
|          [38.0,9.0]| 95000|
|          [29.0,3.0]| 58000|
|          [31.0,6.0]| 72000|
|          [26.0,2.0]| 52000|
|          [36.0,8.0]| 88000|
|          [24.0,1.0]| 45000|
|          [34.0,7.0]| 82000|
|          [23.0,2.0]| 53000|
|         [39.0,10.0]| 98000|
|          [37.0,9.0]| 92000|
|          [30.0,4.0]| 67000|
+--------------------+------+

In [137]:
from pyspark.ml.regression import LinearRegression

# train test split
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol="independent features", labelCol='salary')
regressor =  regressor.fit(train_data)

In [138]:
regressor.coefficients

DenseVector([881.7064, 4445.6036])

In [139]:
regressor.intercept

20954.17287632089

In [140]:
# predicci√≥n
pred_result = regressor.evaluate(test_data)

In [141]:
pred_result.predictions.show()

+--------------------+------+------------------+
|independent features|salary|        prediction|
+--------------------+------+------------------+
|          [33.0,7.0]| 85000| 81169.70938897245|
|          [23.0,2.0]| 53000| 50124.62742176022|
|          [29.0,3.0]| 58000|59860.469448582546|
|          [37.0,9.0]| 92000| 93587.74217585733|
|         [39.0,10.0]| 98000|  99796.7585692998|
+--------------------+------+------------------+

In [142]:
pred_result.meanAbsoluteError, pred_result.meanSquaredError

(2390.1266766014014, 6429901.354215315)